  
<div class="main-container p-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="m-0">Treatment Index</h2>
    <%= link_to "+ Create treatment", new_treatment_path, class:"primary-btn-white-sm" %>
  </div>
  <% if @treatments.empty? %>
    <div class="mt-5 d-flex flex-column">
      <small class="text-black">Add your first treatment</small>
      <%= link_to "+ Add a treatment", new_treatment_path, class:"primary-btn-white-sm mt-2" %>
    </div>
  <% else %>
    <% @treatments.each do |treatment| %>
      <%= link_to treatment_path(treatment) do %>
        <div class="long-card p-3 my-3">
          <div class="d-flex justify-content-between align-items-center">
            <p> <%= treatment.name %> </p>
            <i class="fas fa-hand-holding-heart"></i>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
