<div class="mt-5 mx-5">
  <div class="treatment-container p-5">
  <h2>Create a new treatment</h2>
    <%= simple_form_for(@treatment) do |f| %>
      <%= f.input :name %>
      <%= f.submit "+ Create Treatment" , class:"primary-btn-blue" %>
    <%= link_to treatments_path, class:"primary-btn-blue" do%>
      <i class="fas fa-arrow-circle-left"></i> Back
    <% end %>
    <% end %>

  </div>
</div>
