// Define variables for your color scheme

// bootstrp-colors:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #292929;

// my-meds-colors
$blue_main: #9CE1F8;
$blue_selected: #00C2FF;
$green_v: #6FCF97;