.dashboard-container{
  height: 100vh;
}

.dashboard-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.dashboard-schedules {
  width: 400px;
  text-align: center;
}

.dashboard-infos{
  text-align: center;
}
