<div class="main p-0">
  <div class="container main-container px-0 d-flex justify-content-between">
    <div class="text-box d-flex flex-column justify-content-between p-5">
      <div class="mt-5 mb-5">
        <h3>Welcome to</h3>
        <h1>My Meds</h1>
        <p><strong>Never forget</strong><small> about taking your</small> <strong>meds again</strong></p>
      </div>
      <div class="button-wraper d-flex justify-content-between">
        <%= link_to new_user_session_path do  %>
          <div class="primary-btn-white"><i class="fas fa-hand-holding-heart"></i> LogIn</div>
        <% end %>
        <%= link_to new_user_registration_path do %>
          <div class="primary-btn-white"><i class="fas fa-user-plus"></i> Create an account</div>
        <% end %>
      </div>
    </div>
    <div class="image-box bg-white d-flex flex-column justify-content-center align-items-center">
      <%= image_tag("notification.svg", class:"svg-landing") %>
    </div>
  </div>
</div>
