<div class="p-5">
<div class="d-flex justify-content-between align-items-center border-bottom border-muted pb-2">
    <h2>Your schedule</h2>
</div>
<div class="main-container-treatment d-flex">
  <div class="schedules-container" data-controller="intakes-taken">


    <%= render "intakes/intakes_schedule", intakes: @morning_intakes, title: "Morning" %>
    <%= render "intakes/intakes_schedule", intakes: @afternoon_intakes, title: "Afternoon" %>
    <%= render "intakes/intakes_schedule", intakes: @evening_intakes, title: "Morning" %>


  </div>

  <div class="notifications-container my-5">
    <div class="rounded alert-danger p-3 mb-2" role="alert">
      Walter, please, your pills, man!
    </div>
     <div class="rounded alert-danger p-3 mb-2" role="alert">
      Okay, do what you want, Walter, as always
    </div>
     <div class="rounded alert-danger p-3 mb-2" role="alert">
      I feel useless...
    </div>
  </div>
</div>
</div>
