<div class="db-container">
  <div class="db-navbar">
    <a class="db-menubtn btn-left btn-active" id="btn-home" href=""><i class="fas fa-street-view"></i> Home</a>
    <a class="db-menubtn" id="btn-treatments" href=""><i class="fas fa-hand-holding-medical"></i> Treatments</a>
    <a class="db-menubtn" id="inventory" href=""><i class="fas fa-th"></i> Inventory</a>
    <a class="db-menubtn" id="docs" href=""><i class="fas fa-notes-medical"></i> Docs</a>
    <a class="db-menubtn btn-right" id="profile" href=""><i class="fas fa-address-card"></i> Profile</a>
  </div>
  <div class="db-card-content">
    here goes all content of each menu
  </div>
</div>
