.primary-btn-white {
  padding: 18px 50px;
  text-align: center;
  color: $black;
  background: white;
  text-decoration: none !important;
  border-radius: 8px;
    opacity: 1;
  min-width: 260px;
  transition: background-color .5s ease, box-shadow 0.5s ease;

  &:hover {
    // color: $black;
    background-color: rgba(white, 0.6);
    box-shadow: $box-shadow;  
  }
}

.primary-btn-white-sm {
  padding: 10px 20px;
  text-align: center;
  color: $black;
  background: white;
  text-decoration: none !important;
  border-radius: 8px;
  opacity: 0.6;
  width: 180px;
  transition: opacity 0.3s ease;

   &:hover {
    color: $black;
    opacity: 1;
    box-shadow: $box-shadow;
  }
}
.primary-btn-blue {
  padding: 18px 50px;
  text-align: center;
  color: $black;
  background: $blue-main;
  text-decoration: none !important;
  border-radius: 8px;
  width: 260px;
  transition: background-color .5s ease, box-shadow 0.5s ease;
  opacity: 1;
  font-weight: bold;

  &:hover {
    background: rgba($blue-main, 0.6);
    color: $black;
    box-shadow: $box-shadow;
  }
}

.btn-small, .submit-schedule-button {
  width: 100px;
  color: $black;
  background: $blue-main;
  padding: 12px 20px;
  border-radius: $border-radius;
  font-size: 15px;
  text-decoration: none !important;
  transition: background-color .5s ease, box-shadow .5s ease;
  font-weight: bold;

  &:hover {
    background-color: rgba($blue-main, 0.6);
    box-shadow: $box-shadow;
    color: $black;
    // 1px 4px 10px rgba(0,0,0,0.2);
  }
}

.text-black {
  color: $black;
}

.icon-btn {
  // width: 50px;
  // color: $black;
  // background: $blue-main;
  // padding: 5px 5px;
  // border-radius: $border-radius;
  background: none;
  color: red;
  font-size: 15px;
  text-decoration: none !important;
  transition: opacity 0.3s ease;
  opacity: 1;
  font-size: $body-font-size;

  // &:hover {
  // opacity: 0.6;
  //   color: $black;
  //   box-shadow: $box-shadow;
  //   // 1px 4px 10px rgba(0,0,0,0.2);
  // }
}

.wider {
  width: auto;
}

.border-none {
  border: none;
}

// .def-bright {
//   opacity: 1;

//   &:hover {

//   }

// }

.submit-schedule-button {
  margin-left: 88px;
}

// .sumbit-schedule {
//   border: 1px solid #d3d3d3;
//   padding: 16px 24px;
//   cursor: pointer;
//   font-weight: 500;
//   background: white;
//   border-radius: 2px;
// }

.button{
  padding: 18px 50px;
  text-align: center;
  color: $black;
  background: white;
  text-decoration: none !important;
  border-radius: 8px;
    opacity: 1;
  width: 260px;
  transition: background-color .5s ease, box-shadow 0.5s ease;

  &:hover {
    // color: $black;
    background-color: rgba(white, 0.6);
    box-shadow: $box-shadow;  
  }
}