.medcard {
  width: 200px;
  height: 250px;
  display: flex;
  overflow: hidden;
  background: white;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }

  .textbox {
    flex-basis: 100%;
    position: relative;

    p{
      font-size: 25px;
      color: black;
    }

    .icon {
      position: absolute;
      right: 8px;
      color: red;
      bottom: 30px;
      width: 40px;
    }
  }

  .textbold {
    font-weight: bold;
  }

  &:hover {
     box-shadow: 1px 4px 10px rgba(0,0,0,0.2);
  }

}