.card-schedule {
  background-color: $light-gray;
  color: $black;
  border-radius: 8px;
  width: 100%;
}

.card-dashboard {
  background-color: $light-gray;
  color: $black;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
  height: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.med-long-card {
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius;
  background-color: white;
  width: 400px;
  height: 100px;
  opacity: 0.9;
  margin-bottom: 16px;
  img {
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-radius: $border-radius;
  }
  p, h2 {
    margin: 0;
  }
}

.form-schedule-card {
  background-color: $blue_main ;
  width: 400px;
  height: 200px;
}

.medcard {
  // width: 130px;
  height: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin: 0px;

  img {
    height: 70px;
    width: 100%;
    object-fit: cover;

    // &:hover{
    //   opacity: 0.5;
    // }
  }

  h3 {
    color: $black;
  }
  .textbox {
    // position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 2;

    .icon {
      position: absolute;
      right: 8px;
      color: red;
      bottom: 30px;
      width: 40px;
    }
  }

  .text-box h3, p {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .med-name {
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  .med-desc {
    font-size: 20px;
    color: $black;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .textbold {
    font-weight: bold;
  }
.stock-input {
  background-image: none;
  padding-right: 0.75rem;
}
  // &:hover {
  //    box-shadow: 1px 4px 10px rgba(0,0,0,0.2);
  // }

}

.long-card {
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background-color: white;
  width: 600px;
  opacity: 0.9;
  transition: opacity 0.3s ease;

  &:hover {
  opacity: 1;

  }

  i {
    font-size: 40px;
    color: $black;
  }

  p {
    margin: 0px;
  }
}


.treatment-container {

 border-radius: $border-radius;
  // box-shadow: $box-shadow;
  // background-color: white;
  // width: 60%;

  h1, h2 {
    font-size: 25px;
  }
}


 .textbold {
    font-weight: bold;
  }

.main-container-treatment {

  // width: 1250px;
  overflow: hidden;


  h1 {
    font-size: 80px;
  }


  h3 {
    font-size: 30px;
  }
  p {
    color: $black;
    font-size: 30px;

  }
}

.main-container-treatment-2 {

  // width: 1250px;
  overflow: hidden;

}

.schedules-container {
  width: 70%;
}

.notifications-container {
    width: 30%;

}

.scroll {
  overflow: auto;
}

.extend-schedules-card {
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius  $border-radius;
  background-color: $light-gray;
  width: 550px;
  margin-left: 25px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  .medcard-schedule {
    height: 80px;
    margin: 0 8px;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 16px;
    }
  }

.stock {
  font-size: 18px;
}
}

.schedules-container {
  overflow-y: auto;
}

.prompt-user {
  font-size: $body-font-size !important;
}

.no-margin-main-row {
  margin: 0;
}

.img-show  {
  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
  }
}

.icon-stock {
  opacity: 0.3;
}
