.db-container{
  margin: auto;
  margin-bottom: 56px;
  min-height: calc(100vh - 56px);
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.db-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  transform: translateY(1px);
}

.db-menubtn {
  padding: 9px 20px;
  text-align: center;
  color: $black;
  background: $blue_main;
  text-decoration: none !important;
  opacity: 0.6;
  width: 200px;
  transition: opacity 0.5s ease, background-color 0.5s ease;

  &:hover {
    color: $black;
    opacity: 1;
    background-color: #cbf0fd;
  }
}

.btn-left {
  border-top-left-radius: 20px;
}

.btn-right {
  border-top-right-radius: 20px;
}

.btn-active {
  background-color: #cbf0fd;
  color: $black;
  opacity: 1;
}

.db-card-content {
  box-shadow: $box-shadow;
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.7) 97.4%, rgba(226, 240, 249, 0) 100%);
}

.profile-field {
  background-color: rgba($blue_selected, 0.1);
  color: $black;
  height: 35px;
  width: 80%;
  padding: 5px 10px;
}

.profile-form-field {
  background-color: rgba($blue_selected, 0.1);
  color: $black;
  height: 35px;
  width: 30%;
  padding: 5px 10px;
}

.profile-form-input-field {
  color: $black;
}

.profile-avatar {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
  border: 4px solid white;
}

.daytime_logo {
  display: inline-flex;
}

.schedule_daytime p{
  margin-left: 4px;
}
.schedule_daytime .fa-check-circle {
  color: $green_v;
}

.schedule_daytime .fa-info-circle {
  color: #971c1f;
}

.weather_location {
  height: 20vh;
  background-color: $blue_main;
  border-radius: $border-radius;
}

.profile-avatar-mini {
  height: 40px;
  width: 40px;;
  border-radius: 20px;
}