.collection_check_boxes img {
  object-fit: cover;
  width: 200px;
  border-radius: 5px 5px 0 0;
}

.new_schedule {
  display: flex;
  justify-content: space-between;
}

.form-check-label {
  width: 200px;
  background-color: $white;
  margin-top: 8px;
  border-radius: 5px;
}

.med-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.schedule_med .form-check {
  padding-left: 0;
}

.form-date-time {
  margin: 24px;
  background-color: $blue_selected;
  height: 127px;
  width: 265px;
  border-radius: 5px;
}

.times-input{
  padding: 8px;
}

.schedule_weekdays{
  padding: 8px 0 0 8px;
  margin-bottom: 0;
  justify-self: center;
}
